#TopDiv {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
#first {
  padding: 15px;
}
#second {
  padding: 15px;
}
#third {
  padding: 15px;
}
#fourth {
  padding: 15px;
}
#Pic {
  display: flex;
  justify-content: center;
  padding-top: 180px;
}
#Bar {
  display: flex;
  justify-content: center;
  padding: 20px;
}
#HeadOfButton {
  display: flex;
  justify-content: center;
  padding: 5px;
}
#Button {
  padding: 20px;
}
#ButtonB {
  padding: 20px;
}
#BottomLeft {
  display: flex;
  width: 50%;
  justify-content: flex-start;
}
#aa {
  padding: 15px;
}
#bb {
  padding: 15px;
}
#cc {
  padding: 15px;
}
#dd {
  padding: 15px;
}
#BottomRight {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}
#secA {
  padding: 15px;
}
#secB {
  padding: 15px;
}
#secC {
  padding: 15px;
}
#BottomMain {
  display: flex;
  padding-top: 200px;
}
