#top-division{
    display:flex;
    justify-content: flex-end;
    border: 2px solid red;
    align-items: center;
    margin-bottom: 50px;
    
}

#center-division{
    display: flex;
    flex-direction: column;
    align-items: center;
    border :2px solid green;
}
#adi{
    width: 50px;
}

#sib{
    background-color: rgb(22, 22, 224);
}